* {
	margin: 0;
	padding: 0;
}

body {
	color: black;
	background-image: url('../images/platformer_background_4.png');
	background-size: cover;
}

canvas {
	background: url('../images/platformer_background_3.png');
	display: block;
	background-size: cover;
}

.taskScreen {
	background: url('../images/platformer_background_1.png');
}

.greeting {
	position: fixed;
	top: 20%; 
	left: 20%; 
	width: 60%; 
	height: 60%; 
	background: rgba(162, 228, 245, 0.5);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #184F3D;
}

h2, h3 {
	text-align: center;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

p {
	font-size: 24px;
	text-align: center;
}

.greeting input {
	width: 30%;
	height: 50px;
	font-size: 20px;
	margin-top: 50px;
}

form :first-child {
	margin-left: 20%;
}

input[type="button"] {
	background-color: rgb(53, 124, 100);
	border: 0;
}

.empty-name {
	font-size: 16px;
	color: red;
	display: none;
}

.results {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	background: #cfcfd1;
	width: 100%; 
	height: 100%; 
	background-image: url('../images/platformer_background_2.png');
	color: black;
}

.results h2 {
	margin-top: 20px;
	color: #FFD1CB;
}

table {
	margin-top: 90px;
	width: 50%; 
	background: #cfcfd1;
	color: #3B5071;
	border-spacing: 1px;
}

td, th {
	background: rgba(255, 209, 203, 0.658);
	padding: 5px;
}

